.App {
  text-align: center;
  font-family: serif;
  border: 2px outset black;
 background-color: #f2f2f2;
 text-align: center;
}
input[type=submit] {
  width: 30%;
  padding: 6px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid ;
  border-radius: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  color: black;
  font-family: serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
